* {
  color: azure;
}

.body {
  min-height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

.card {
  margin-bottom: 30px;
  border-radius: 10px;
}

.header {
  position: relative;
  background-image: url("../Images/Railroad.jpg");
  font-weight: bolder;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 50px;
  padding: 5px;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a6072;
  color: #fff;
}

.header a {
  color: yellow;
  margin-right: 115px;
  margin-top: 32px;
  font-size: 20px;
  margin-bottom: 45px;
}

.header ul {
  flex-wrap: wrap;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;
}

.header h1 {
  margin-top: 15px;
  font-size: 42px;
  font-weight: bolder;
  display: flex-end;
  padding: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}

.header li {
  padding: 10px;
  padding-left: 25px;
}

#Aboutme {
  color: black;
  padding: 5px;
  padding-top: 55px;
  border: 2px;
  font-size: 28px;
}

#Contact {
  font-size: 22px;
}

#Work {
  color: black;
  padding: 5px;
  border: 2px;
  font-size: 28px;
}

.main {
  height: fit-content;
  position: relative;
  font-weight: bolder;
  font-size: 32px;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 10px;
}

.main ul {
  list-style-type: none;
  font-weight: normal;
  display: flex;
  justify-content: space-evenly;
  text-align: end;
  flex-wrap: wrap;
}
.main ul li {
  padding: 10px;
  border: 5px double black;
}

.venueFinder {
  color: #fff;
  background-image: url("../Images/Venuefinder.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 14em;
  width: 100%;
}

.mileHi {
  color: #fff;
  background-image: url("../Images/milehiPreview.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 18vh;
  width: 50%;
}

.passwordG {
  color: #fff;
  background-image: url("../Images/passwordGenerator.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 18vh;
  width: 50%;
}

.eShopper {
  color: #fff;
  background-image: url("../Images/eShopperInsomnia.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 18vh;
  width: 50%;
}

.Resume {
  color: #fff;
  background-image: url("../Images/resume.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 18vh;
  width: 50%;
}

#subtitle {
  padding-left: 25px;
  margin-right: 6px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 85px;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: yellow;
}

.footer {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a6072;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(9, 9, 121) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  width: 100%;
}

.footer h3 {
  flex: 0;
  font-size: 16px;
  color: #fff;
}

.footer ul {
  flex-wrap: wrap;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  justify-content: flex-end;
}

.footer li {
  padding-right: 35px;
  padding-bottom: 20px;
}

.footer a {
  color: yellow;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.section h2 {
  flex: 0 0 25%;
}

.section ul {
  flex: 0 0 65%;
}

.section p {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 100px;
  flex: 0 0 65%;
  font-size: 20px;
  line-height: 2em;
  text-indent: 5%;
}
